<form [formGroup]="registerForm" (submit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    
    <app-text-input [formControl]='registerForm.controls["username"]' [label]='"username"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["password"]' [label]='"password"' [type]='"password"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [label]='"confirmPassword"' [type]='"password"'></app-text-input>
    
    <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
    <button class="btn btn-danger btn-lg btn-block" (click)="cancel()" type="button">Cancel</button>
</form>

<p> Form Value: {{ registerForm.value | json }}</p>
<p> Form Valid: {{ registerForm.status | json }}</p>