<form #registrationForm="ngForm" (submit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <div class="form-group">
        <input type="text" autocomplete="username" [(ngModel)]="model.username" name="username" class="form-control" placeholder="Username" />
    </div>
    <!-- <div class="form-group">
        <label>Who is your favorite user? <3</label>
        <select class="form-control">
            <option *ngFor="let user of UsersFromHomeComponent" [value]="user.userName">{{user.userName}}</option>
        </select>
    </div> -->
    <div class="form-group">
        <input type="password" autocomplete="current-password" [(ngModel)]="model.password" name="password" class="form-control" placeholder="Password" />
    </div>
    <div class="form-group">
        <input type="password" autocomplete="new-password" [(ngModel)]="model.passwordConfimation" name="passwordConfimation" class="form-control" placeholder="Password Confimation" />
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
    <button class="btn btn-danger btn-lg btn-block" (click)="cancel()" type="button">Cancel</button>
</form>